.Admin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-weight: bold;
    font-size: 23px;
    margin: 15px 0;
    font-family: Parata;
  }

  .activities-section {
    .scroll-for-more {
      color: lightgray;
    }

    .list-section {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
}
