.Cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cart-title {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .item-section {
    display: flex;
    margin-bottom: 5px;

    button {
      border: none;
      background-color: transparent;
      font-weight: bold;
      transition: all 0.3s;

      &:hover {
        color: white;
        background-color: #4a5553;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
      }
    }
  }

  .price-section {
    font-weight: bold;
    font-size: 23px;
    text-shadow: 1px 1px #bab9b9;
  }
}
