.Checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .total-price{
    font-weight: bold;
    font-size: 23px;
    text-shadow: 1px 1px #bab9b9;
    color: #c154c1;
  }

  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.3s;
    font-size: 18px;

    &:hover {
      cursor: pointer;

      &.pay{
        color: #008000;
      }

      &.go-back{
        color: #ffa343;
      }
    }
  }
}
