.SelectableItem {
  transition: all 0.3s;
  border-radius: 10px;

  &:hover:not(.not-available) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  &.selected {
    border: solid 1px lightgray;
  }
}
